.flexBurgerContainer {
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
  overflow: scroll;
  width: 50%;
}
